

 




 .icons-footer{
  padding-right: 65px;
  display: flex;
  /* margin-left: -5px; */
  color: #000;
  font-size: 23px;
 }

 .footer-nav-icon{
align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: #fbda09;
    height: 60px;
    padding-left: 12px;

    @media (max-width: 428px ) {  
       padding-left: 50px;
   }

   @media (max-width: 320px ) {  
    padding-left: 12px;
}
 }
 


.mobile-viwe {
    /* display: flex; */
    display: none;
   /* media queries */
     @media (max-width: 768px ) {  
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1030;
      display: inline;
   }
   

 }




   .mobile-nav-aling{
           margin: 0px;
           padding: 0px;     
 }