

.App {
  background-color: black;
  

 
}

.categories{
    margin-top: 20px;
}

@media (max-width: 768px) {
  .categories {
    margin-top: 255px;
  }
}
.responsive-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Adjust the height as per your requirement */
}

.card {
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  text-align: center;
}

.overlay {
  position: relative;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -400%);
  color: #ffffff;
  font-size: 42px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  border: 2px solid #fff;
}

.overlay1 {
  position: relative;
}

.image-text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -400%);
  color: #ffffff;
  font-size: 42px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  border: 2px solid #fff;
}

.overlay2 {
  position: relative;
}

.image-text2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -312%);
  color: #ffffff;
  font-size: 42px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  border: 2px solid #fff;
}

.image-text-rg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -312%);
  color: #ffffff;
  font-size: 42px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  border: 2px solid #fff;
  
}

@media (max-width: 768px) {
  .image-text {
    font-size: 6vw;
  }
  
  .image-text-rg {
    font-size: 6vw;
    font-weight: bold;
    

  }
  
  .image-text1 {
    font-size: 6vw;
    transform: translate(-52%, -357%);
    font-weight: bold;
  }
  
  .image-text2 {
    font-size: 6vw;
    margin-left: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .image-text {
    font-size: 32px;
  }
  
  .image-text-rg {
    font-size: 24px;
  }
  
  .image-text1 {
    font-size: 28px;
    transform: translate(-52%, -357%);
  }
  
  .image-text2 {
    font-size: 30px;
    margin-left: 5px;
  }
}

 a{
  text-decoration: none;
  color: #fff;
}