*{
    background-color: black;
}

.responsive-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Adjust the height as per your requirement */
  }
  
  .card {
         margin-bottom: 20px;
       
         transition: transform 0.3s;
      }
      
      .card:hover {
        transform: scale(1.05);
      }
      
  
  
  .card-body {
    text-align: center;
  }
  